<div class="kite-leaderboard-container">
  <div class="leaderboard-upper-part">
      <div class="leaderboard-header">
        <h2>Leaderboard</h2>
      </div>
      <div class="leaderboard-top-3">
        <div class="second-div">
            <ngx-top-players *ngIf="topPlayers.length >= 2" [topPlayer]="topPlayers[1]"></ngx-top-players>
        </div>
        <div class="first-div">
          <ngx-best-player *ngIf="bestPlayer" [bestPlayer]="bestPlayer"></ngx-best-player>
        </div>
        <div class="third-div">
           <ngx-top-players *ngIf="topPlayers.length >= 3" [topPlayer]="topPlayers[2]"></ngx-top-players>
        </div>
      </div>
      <div *ngIf="topPlayers.length == 0" class="no-players-text">
        <p>Leaderboard එකට එකතු වෙන පලවෙනි කෙනා ඔයා වෙන්න!</p>
        <p>දැන්ම තරඟ කරන්න.</p>
      </div>
  </div>

  <div class="leaderboard-below-part">
    <ngx-players *ngIf="remainingPlayers?.length" [players]="remainingPlayers"></ngx-players>
    <div *ngIf="remainingPlayers.length == 0 && topPlayers?.length" class="no-successive-players">
      <p>සරුංගල් යවලා Leaderboard එකේ උඩටම යන්න ඔයාටත් පුළුවන්!</p>
      <p>දැන්ම තරඟ කරන්න.</p>
    </div>
  </div>
</div>
