<mat-list>
  <div class="players-container" *ngFor="let player of players">
    <div class="rank-txt-div">
      <span>{{player.rank}}</span>
    </div>
    <mat-list-item>
      <img matListItemAvatar src={{player.img_url}}>
      <div class="name-txt-div">
        <span class="player-name-span">{{player.name}}</span>
        <span class="player-nickname-span">{{player.nickname}}</span>
  
      </div>
      <div class="kite-height-txt-div">
        <span> {{player.kite_height}}</span>
      </div>
    </mat-list-item>
  </div>
</mat-list>

