.players-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.rank-txt-div {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}


mat-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  font-size: 20px;
  width: 100%; 
}
mat-list-item {
  display: flex;
  align-items: center; 
  width: 100%; 
}
mat-list-item img[matListItemAvatar] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-txt-div {
  margin-left: 10px;
}

.kite-height-txt-div{
  display :flex;
  flex-direction: row;
  margin-left: 150px;
  margin-top: -22px;
  color: rgb(219, 156, 11); 
}

.player-nickname-span{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 100;
  color: black;
}

.player-name-span{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight:500;
  color: black;
}


@media only screen and (max-width: 600px) {
  .kite-height-txt-div {
    margin-left: 150px; 
    
  }

  .name-txt-div {
    margin-left: 15px; 
  }
}

@media only screen and (max-width: 768px) {

  mat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-size: 20px;
    width: 100%; 
  }
  .kite-height-txt-div {
    margin-left: 150px; 
    
  }

  .name-txt-div {
    margin-left: 15px; 
  }
}



