@import '../../../@theme/styles/themes';

@include nb-install-component {
  nb-card {
    margin-top: -15px;
  }
  
  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  .description-link {
    text-decoration: none; // Remove underline from the link
    color: inherit; 
  }
  
  .description-icon {
    cursor: pointer;
    font-size: 30px;
    color: purple;
    display: flex;
    flex-direction: row;
  }

  .today {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
  }

  .see-more-text {
    font-size: 15px;
    margin-left: 10px;
    color: rgb(101, 163, 244);
    
    a {
      text-decoration: underline;
      color: inherit;

      // &:hover {
      //   text-decoration: none; 
      // }
    }
  }
}
