<app-data-value-card type="temperature" [value]="(reading ? reading.toFixed(2) : '-') +' °C'" icon="thermometer" *ngIf="sensor === 'temperature'"></app-data-value-card>
<app-data-value-card type="relative humidity" [value]="(reading ? reading.toFixed(2) : '-') +'%'" icon="humidity_mid" *ngIf="sensor === 'humidity'"></app-data-value-card>
<app-data-value-card icon="speed" *ngIf="sensor === 'pressure'"
  [type]="(reading > 90000 ? ' station pressure' : ' msl pressure')"
  [value]="(reading > 90000 ? (reading || '-') + ' Pa' : (reading ? reading.toFixed(2) : '-') + ' mbar')"
  [tooltip]="(reading > 90000 ? 'station pressure' : 'mean sea level pressure')"></app-data-value-card>
  <app-data-value-card type="precipitation" [value]="(reading ? reading.toFixed(0) : '-') +' mm'" icon="water_drop" *ngIf="sensor === 'precipitation'"></app-data-value-card>
  <app-data-value-card type="solar irradiance" [value]="(reading ? reading.toFixed(2) : '-') +' W/m²'" icon="solar_power" *ngIf="sensor === 'solar_irradiance'"></app-data-value-card>
  <app-data-value-card type="light intensity" [value]="(reading ? reading.toFixed(2) : '-') +'%'" icon="solar_power" *ngIf="sensor === 'percentage_light_intensity'"></app-data-value-card>
