@import '../../../@theme/styles/themes.scss';

.sensor-reading {
  display: flex;
  align-items: center;
  .sensor-reading-icon .material-symbols-outlined {
    font-size: 2rem;
  }
  .sensor-reading-data {
    display: flex;
    flex-direction: column;

    > div:first-child {
      font-size: 0.6rem;
      line-height: 0.8rem;
      letter-spacing: 0.1em;
      color: nb-theme(text-sub-color);
    }
  }
}
