<nb-card>
  <nb-card-body>
    <div style="margin-bottom: -10px;">
      <h6>මේ සතියේ වාර්තා</h6>
    </div>

    <div class="htitle">උපරිම  උස</div>
    <div class="today">
      <span class="today-temperature h1">{{ maxHeight }} m</span>
      <!-- <nb-icon icon="star" pack="eva" class="today-icon"></nb-icon> -->
    </div>
    <div class="today-details">
      <!-- <div class="parameter">
        <span class="caption parameter-name">අවම  උස</span>
        <span class="parameter-value">{{ minHeight}}m</span>
      </div> -->
      <div class="parameter">
        <span class="caption parameter-name">පියාසර කාලය</span>
        <span class="parameter-value">{{ totalFlyingMins }}mins</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">උත්සාහයන්</span>
        <span class="parameter-value">{{ totalAttempts }}</span>
      </div>
      <!-- <div class="parameter">
        <span class="caption parameter-name">Accumulated Height</span>
        <span class="parameter-value">{{ totalHeight }}+</span>
      </div> -->
    </div>
  </nb-card-body>
</nb-card>
