@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/overlay';

@include nb-install-component {
  nb-card{
    margin-top: -15px;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  .location,
  .date {
    display: block;
  }

  .location {
    margin-bottom: 0.15rem;
  }

  .today {
    display: flex;
    justify-content: space-around;
    margin-top: -12px;

    @include media-breakpoint-down(md) {
      margin-top: -30px;
      font-size: 5px;
      margin-bottom: -30px;
      display: flex;
      justify-content: center;
    }
  }

  .today-temperature {
    color: rgb(193, 68, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 1.5rem;

    @include media-breakpoint-down(md) {
      font-size: 30px;
      display: flex;
      justify-content: center;
    }
  }

  .today-icon {
    color: goldenrod;
    font-size: 5rem;
    line-height: 1;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0.4rem;

    
    @include media-breakpoint-down(md) {
      color: goldenrod;
      font-size: 3rem;
      line-height: 1;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: 3rem;

    }
  }

  .today-details {
    display: flex;
    justify-content: space-around;
    margin-top: 0.6rem;
  }

  .parameter {
    flex: 1 1 auto;
    text-align: center;
  }

  .parameter-name,
  .parameter-value {
    display: block;
  }

  .caption {
    text-transform: uppercase;
  }

  .weekly-forecast {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
  }

  .day {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .weather-icon {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}