@import '../../../@theme/styles/overlay';


::ng-deep:root {
  --swiper-navigation-size: 25px;  
  --swiper-theme-color: #66bb6a;   
}

nb-card {
  overflow: hidden !important;
  height: auto;

  @include media-breakpoint-down(md) {
    // margin-top: -15px;
  }
}

::ng-deep.nb-card-body {
  overflow: hidden !important;
}

.title{
  font-size: 17px;
  font-weight: bolder;
  margin-top: 5px;
  letter-spacing: 1px;
}

.hvalue {
  font-size: 30px;
  color: #66bb6a;
  font-weight: 900;
  text-align: center;
}


.bottom-content {
  display: flex;
  height: auto;
}

.left-half {
  flex: 4;
  display: flex;
  height: 100%;
  margin-right: -30px;
  margin-left: -70px;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.danata-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
  justify-content: flex-start;
  margin-right: 30px;
}

.mountword{
  color:rgb(192, 43, 225); ;
}

.everest-image {
  width: 41vw;
  height: 50vh;
  margin-top: -80px;
  position: relative;
  margin-left: -260px;
  filter: hue-rotate(30deg);
  filter: saturate(2);

@include media-breakpoint-down(md) {
height: 60vh;
width: auto;
overflow: hidden !important;
margin-right: -80px;
  }

}

.lotust-image {
  width: 25vw;
  height: 40vh;
  position: relative;

  @include media-breakpoint-down(md) {
    height: 50vh;
    width: auto;

  }
}

.right-half {
  flex: 0.5;
  display: flex;
  position: relative;

  @include media-breakpoint-down(md) {
    margin-left: 70px;
  }
}

.right-half-2 {
  flex: 0.5;
  display: flex;
  position: relative;
  margin-left: 10px;
  
  @include media-breakpoint-down(md) {
    margin-left: 70px;
  }
}

.progress-container {
  position: relative;
  display: flex;
  align-items: flex-end;

}

.progress-bar {
   height: 39vh;

  // height: 40vh;
  width: 12px;
  background-color: rgb(29, 13, 35);
  position: relative;
  border-radius: 8px;

  @include media-breakpoint-down(md) {
    height: 50vh;
  }
}

.progress {
  width: 100%;
  background-color: rgb(192, 43, 225);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  transition: height 2s ease-in-out;
}

.kite-image {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-bottom: -30px;
  margin-left: -30px;
  filter: hue-rotate(30deg);
  transition: bottom 2s ease-in-out;
}

.compare-container {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-bottom: 12px;
}

