<nb-card>
  <nb-card-body>
    <h5>මුළු උස එකතුව</h5>
    <div class="hvalue"><span>{{ accumulatedHeight }}</span></div>
    <div>
      <div class="compare-container">
 create-kite-competition-map
        <!-- <div class="compare-text">Compared to Everest</div> -->
        <div class="compare-text">Compared to Lotus Tower</div>
        <span class="everest-height">{{ everestHeight }} m</span>
      </div>
    </div>
    <div class="bottom-content">
      <div class="left-half">
        <img src="assets/images/kite-competition/nelum.png" alt="Mount Everest Image" class="everest-image">
      </div>
      <div class="right-half">
        <div class="progress-container">
          <div class="progress-bar" title="Lotus tower height is {{ everestHeight }} m">
          <!-- <div class="progress-bar" title="Mount Everest height is {{ everestHeight }} m"> -->
            <div class="progress" title="Total accumulated height is {{ kiteHeight }} m"></div>
          </div>
          <img src="assets/images/kite-competition/kite-marker-2.png" alt="Kite Image" class="kite-image">
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
