<div class="best-player-container">
  <div class="best-place-div">
    <h2><i class="fas fa-crown" style="color: rgb(188, 196, 27);"></i></h2>
  </div>
  <div (click)="goToPlayerIntroduction(bestPlayer)" style="cursor: pointer;">
    <div class="best-img-circle">
      <img [src]="getImageUrl(bestPlayer.img_url)">
      <!-- <img [src]="bestPlayer.img_url" alt="Best Player Avatar"> -->
    </div>
    <div class="best-player-details-div">
      <p class="best-player-name-span">{{bestPlayer.name}}</p>
      <p class="best-player-nickname-span">@{{bestPlayer.city}}</p>
      <p class="best-player-kite-height-span">{{bestPlayer.kite_height | number:'1.0-0' }} m</p>
    </div>
  </div>
</div>
