<div class="best-player-container">
  <div class="best-place-div">
      <h2><i class="fas fa-crown" style="color: gold; "></i></h2>
  </div>
  <div class="best-img-circle">
    <img src={{bestPlayer.img_url}}>
  </div>
  <div class="best-player-details-div">

    <span class="best-player-name-span">{{bestPlayer.name}}</span><br/>
     <br/>
     <span class="best-player-nickname-span">{{bestPlayer.nickname}}</span><br/>
     <br/>
    <span class="best-player-kite-height-span">{{bestPlayer.kite_height}}</span>
  </div>
</div>



