@import '../../../@theme/styles/themes';


@include nb-install-component {
  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  .today {
    display: flex;
    justify-content: space-around;
  }

  .today-temperature {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -5px;
    color:#66bb6a;
  }

}