<nb-card size="tiny" class="solar-card">
    <nb-card-header>Total attemps</nb-card-header>
    <nb-card-body>
      <div class="circular-progress">
        <svg class="progress-ring" width="120" height="120">
          <circle
            class="progress-ring__circle"
            stroke="green"
            stroke-width="10"
            fill="transparent"
            r="50"
            cx="60"
            cy="60"
          />
        </svg>
        <div class="inner-circle">{{ value }}%</div>
      </div>
      <div class="info">
        <div class="h4 value">6.421 kWh</div>
        <div class="details subtitle-2"><span>out of</span> 8.421 kWh</div>
      </div>
    </nb-card-body>
  </nb-card>
  