.solar-card {
  margin-top: 10px;
  height: 200px;
  overflow: hidden;

  .nb-card-body {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .circular-progress {
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: -10px;

    .progress-ring {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg);
    }

    // .progress-ring__circle {
    //   transition: 0.35s stroke-dasharray;
    //   transform-origin: 50% 50%;
    //   stroke-dasharray: 339.292;
    //   stroke-dashoffset: 169.646;
    // }

    .inner-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      font-weight: 600;
      color: #333;
    }
  }

  .info {
    margin-left: 50%;
    margin-top: -80px;
  }

  .value {
    margin: 0;
  }

  .details {
    color: nb-theme(text-hint-color);
  }
}