<div class="row">
    <div class="col-12 small">
      <b>Data එකමුතු තුලට කාලගුණ දත්ත ලබාදීම සහ ඔබේ පෞද්ගලිකත්වය (පෞද්ගලිකත්වයට හානියක් වේ නම්, දත්ත ලබාදීමෙන් වලකින්න)</b>
      <ol class="text-si list-group list-group-flush">
        <li class="list-group-item small">ගවේෂ සමග එකතුව දත්ත අපට ලබාදීමට සිතීම ගැන ඔබට ස්තූතියි.</li>
        <li class="list-group-item small">කාලගුණ දත්ත ස්ථානුබද්ධ වේ. එබැවින් ගවේෂ පද්ධතිය ආශ්‍රිත අක්ෂාංශ සහ දේශාංශ කාලගුණ දත්ත සමඟ Data එකමුතු දත්ත ගබඩා තුල සුරැකේ.</li>
        <li class="list-group-item small">මිට අමතර දත්ත ලබාදෙන්නන් පොදුවේ ඇගයීමටත්,ගවේෂ මගින් පවත්වන තරග වල ජයග්‍රහණ වල පාරදෘෂ බවටත් කාලගුණ දත්ත ලබදෙන්නන්නගේ නම, ආසන්න නගරය, දුරකථන අංකය  සහ විද්යුත් ලිපිනය සුරක්ෂිත  කරන ගනී. </li>
        
        <li class="list-group-item small">ඔබේ නම දත්ත ලබාදුන් ස්ථානය සමග සිතියමේ පල වේ.අන්තර්ජාලයේ සැරසරන ඕනෑම අයකුට හෝ දෙයකට නම, ගම සහ ස්ථානය දැනගත හැක. </li>
        <li class="list-group-item small">මෙමගින් ඔබේ පෞද්ගලිකත්වයට හානියක් වේ නම්, දත්ත ලබාදීමෙන් වලකින්න. </li>
        <li class="list-group-item small">ඔබේ විද්යුත් ලිපිනය සහ දුරකථන අංකය කිසිඳු විටක පොදු මුලාශ්‍ර වල පල නොවේ.</li>
      </ol>
    </div>
    <div class="col-12" style="margin-top: 20px;">
      <h5></h5>
      <ol class="text-si list-group list-group-flush">
        <li class="list-group-item small">Data எக்கமுத்துவிற்கு வானிலை தரவை வழங்குதலும் தங்களது தனியுரிமையும் (தனியுரிமைக்கு பங்கம் ஏற்படுமாயின், தகவல்களை வழங்குவதைத் தவிர்க்கவும்)</li>
        <li class="list-group-item small">கவேஷயுடன் இணைந்து எமக்கு தரவுளை வழங்க முன்வந்தமையிட்டு எமது
          நன்றிகள்.</li>
        <li class="list-group-item small">வானிலை பற்றிய தகவல்கள் உரிய இடத்தை சார்ந்த்து. எனவே, கவேஷ தரவுத்
          தளத்தில் தொடர்புடைய அட்சரேகை மற்றும் தீர்க்கரேகை வானிலை தரவுகளுடன்
          சேர்ந்து தரவைச் சேமிக்கிறது.</li>
        <li class="list-group-item small">உங்களது பெயர் தகவல் வழங்கப்பட்ட இடத்துடன் வரைபடத்தில் தோன்றும்.
          இணையத்தில் உலாவும் எவரும் அல்லது யாவருக்கும் இத்தகவல் வழங்கியவரின்
          பெயர், கிராமம் மற்றும் இருப்பிடத்தை அறிந்து கொள்ளலாம்.</li>
          <li class="list-group-item small">இதன் மூலம் உங்கள் தனியுரிமைக்கு பங்கம் ஏற்படின், தரவுகள் வழங்குவதைத்
            தவிர்க் கொள்ளவும்.</li>
            <li class="list-group-item small">உங்கள் மின்னஞ்சல் முகவரி மற்றும் தொலைபேசி எண் ஒருபோதும் பொது
              மூலாதாரங்களில் வெளியிடப்பட மாட்டாது.</li>
      </ol>
    </div>
    <div class="col-12 small" style="padding-top: 15px;">
      <b>දත්ත භාවිත කිරීම්</b>
      <ol class="text-si list-group list-group-flush">
        <li class="list-group-item small">Data එකමුතු තුල එකතු වන දත්ත  Data එකමුතු බාවිතා කරන්නෙත් එහි ගිවිසුමට අනුවයි. Data එකමුතුද එයට එකගව දත්ත බාවිතා කරන්නෙකි.</li>
        <li class="list-group-item small">එබැවින් Data එකමුතු හවුල හා සම්බන්ධ වන හෝ සේවාව බාවිතා කරන සියලු දෙනා, එකතුවන දත්ත මුල්‍යමය අරමුණකට භාවිත කිරීම ගිවිසුමට පටහැනි සදාචාර විරෝධි ක්‍රියාවක් ලෙස සලකයි.</li>
        <li class="list-group-item small">Data එකමුතු තුලට ප්‍රොයෝජනවත් දත්ත නොමිලේ ස්වෙච්ච්වෙන් ලබාදුන් සැමට Data එකමුතු තුල එකතු වන දත්ත කිසිදු වාණිජ අයකිරීමක් නොමැතිව ලබාගත හැක.</li>
        <li class="list-group-item small">Data එකමුතු තුලට නොමිලේ භාවිත කල හැකි ප්‍රොයෝජනවත් දත්ත මාලාවක්, මුලාශ්‍රයෙන් ලබාගැනීමේ සිට නිරුපනය දක්වා පහසුකම් සලසන ඕනෑම ඒකකයකට එම දත්ත වල හිමිකාරිත්වය ලැබේ. ඔවුනටද,  Data එකමුතු තුල එකතු වන දත්ත කිසිදු වාණිජ අයකිරීමක් නොමැතිව ලබාගත හැක.</li>
        <li class="list-group-item small">Data එකමුතු වෙබ් අඩවිය පොදු අවකාශ තුල ඔබේ දත්ත විවිධ ආකාරයෙන් නිරුපනය වනු ඇත.</li>
        <li class="list-group-item small">දත්ත නිර්මාපකයන්ට එම දත්ත ඕනෑම අවස්ථාවක් ඉවත් කර ගැනීමේ පහසුකම් Data එකමුතු ඉදිරි දිනක ලබා දේ.</li>
      </ol>
    </div>
    <div class="col-12" style="margin-top: 20px;">
      <h5>தகவல் பாவனை</h5>
      <ol class="text-si list-group list-group-flush">
        <li class="list-group-item small">Data எக்கமுத்துவில் சேகரிக்கப்படும் தரவுகள் Data எக்கமுத்துவில்
          பயன்படுத்தப்படுவது அதன் ஒப்பந்தத்தின் அடிப்படையிலாகும். Data எக்கமுத்து
          அதற்கு ஒருங்கிணைய தரவுளை பயன்படுத்துகின்றது.</li>
        <li class="list-group-item small">எனவே, Dataஎக்கமுத்துவில் பங்காளரும், அதனோடு தொடர்படைய சேரும்
          அல்லது சேவையைப் பயன்படுத்தும் அனைவரும், சேகரிக்கப்பட்ட தரவை நிதி
          நோக்கத்திற்காகப் பயன்படுத்துவது ஒப்பந்தத்திற்கு முரணான நெறிமுறையற்ற
          செயலாகக் கருதப்படுகிறது.</li>
        <li class="list-group-item small">Data எக்கமுத்துவிலிருந்து பயன்படுத்தக் கூடிய தரவுகளை இலவசமாகவும்
          சுயவிருப்பத்துடன் தரவுகளை வழங்கிய அனைவருக்கும் Data எக்கமுத்துவினுள்
          சேகரிக்கப்படும் தரவுகளை எவ்வித கட்டணமும் இன்றி தரவுகளைப் பெற்றுக்
          கொள்ளலாம்.</li>
        <li class="list-group-item small">Data எக்கமுத்துவில் தரவுகளை இலவசமாக பயன்படுத்தக் கூடிய தரவுத் தொடர்,
          மூலத்திலிருந்து பெற்றுக் கொள்வதிலிருந்து வெளிப்படுத்தப்படும் வரை
          வசதியளிக்கும் எந்த பிரிவினருக்கும் அத் தரவின் உரிமையுண்டு. அவர்களுக்கும்,
          Data எக்கமுத்துவில் சேகரிக்கப்பட்ட தரவை எவ்வித கட்டணமும் இன்றி, பெற்றுக்
          கொள்ள முடியும்.</li>
            <li class="list-group-item small">Data எக்கமுத்து இணையதளத்தின் பொது வெளியினுள் உங்களது தரவு வெவ்வேறு
              வழிகளில் வெளிப்படுத்தப்படும்.</li>
              <li class="list-group-item small">தரவு படைப்பாளிகளுக்கு அத்தரவுகளை எந்நேரத்திலும் அந்தத் தரவை
                அகற்றுவதற்கான வசதியை Data எக்கமுத்து மூலம் எதிர்வரும் தினங்களில்
                வழங்கப்படும்.</li>
      </ol>
    </div>
  </div>
  