@use '@angular/material' as mat;
@use 'sass:string';
@include mat.core;

$blue-palette: (
  primary: #1976d2,
  primaryDark: #004ba0,
  primaryLight: #63a4ff,
  contrast: (primary: white,
    primaryDark: white,
    primaryLight: rgba(black, 0.87),
  )
);
$orange-palette: (
secondary: #d27619,
secondaryDark: #9b4900,
secondaryLight: #ffa54b,
contrast: (secondary: rgba(black, 0.87),
  secondaryDark: white,
  secondaryLight: rgba(black, 0.87),
)
);
$my-primary: mat.m2-define-palette($blue-palette, primary, primaryLight, primaryDark);
$my-secondary: mat.m2-define-palette($orange-palette, secondary, secondaryLight, secondaryDark);
$my-typography: mat.m2-define-typography-config($font-family: string.unquote('Outfit, Noto Sans Sinhala, sans-serif'));
$custom-light-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
      accent: $my-secondary,
    ),
    typography: $my-typography,
  ));
$purple-palette: mat.m2-define-palette(mat.$m2-purple-palette);
$green-palette: mat.m2-define-palette(mat.$m2-green-palette);
$pg-typography: mat.m2-define-typography-config($font-family: string.unquote('Outfit, Noto Sans Sinhala, sans-serif'));
$dark-theme: mat.m2-define-dark-theme((color: (primary: $purple-palette,
        accent: $green-palette,
        // warn: mat.$red-palette // Optional: define a warn palette
      ),
      typography: $pg-typography,
      density: 0));

@mixin clownfish-theme {
  // Apply the custom light theme
  @include mat.all-component-themes($custom-light-theme);
}

@mixin purple-green-theme {
  @include mat.all-component-colors($dark-theme);
}

.clownfish-theme {
  @include clownfish-theme;
}

.purple-green-theme {
  @include purple-green-theme;
}
