@import 'bootstrap/scss/mixins/breakpoints';
@import 'node_modules/@nebular/theme/styles/global/_breakpoints.scss';
@import 'themes.scss';

.overlay {
  height: auto;
  width: 100%;
  padding: 15px;
  position: relative;
  float: left;
  z-index: 2;
  background-color: nb-theme(color-basic-100);
  pointer-events: auto;
  border-radius: 8px;
  box-shadow: unquote($string: "0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02)");
}

@include media-breakpoint-down(sm) {
  .overlay {
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .overlay {
    width: 50%;
  }
}

@include media-breakpoint-up(md) {
  .overlay {
    width: 41%;
  }
}

@include media-breakpoint-up(xl) {
  .overlay {
    width: 25%;
  }
}
