@import 'node_modules/@nebular/theme/styles/global/typography/_typography.scss';
@import '../../../@theme/styles/overlay.scss';

.overlay {
  height: 48px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: nb-theme(color-basic-500);
  position: absolute;
  top: 5px;
}

.search-input {
  border: none;
  margin: 0px;
  outline: none;
  padding: 0px;
  width: 100%;
}


@include nb-install-component() {
}

.ws-info {
  line-height: 20px;
}
// .ws-info-line {
//   width: 100%;
// }

.ws-info-line {
  color: nb-theme(color-basic-700);
}


