<nb-card>
  <nb-card-body>
    <div class="toggle-buttons">
      <button *ngIf="currentView === allViewTypes.MyData" mat-flat-button color="accent" class="custom-button" >
        My Data
      </button>
      <button *ngIf="currentView !== allViewTypes.MyData" mat-stroked-button color="accent" class="custom-button"  (click)="onViewMyDetails()">
        My Data
      </button>
      <button *ngIf="currentView === allViewTypes.AllData" mat-flat-button color="accent" class="custom-button">
        All Players
      </button>
      <button *ngIf="currentView !== allViewTypes.AllData" mat-stroked-button color="accent" class="custom-button" 
        (click)="onViewAllDetails()">
        All Players
      </button>
      <button *ngIf="currentView === allViewTypes.PlayerData" mat-flat-button color="accent" class="custom-button">
        Other
      </button>
      <button *ngIf="currentView !== allViewTypes.PlayerData" mat-stroked-button color="accent" class="custom-button" >
        Other
      </button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    {{ footerContent }}
  </nb-card-footer>
</nb-card>