<div class="row">
    <div class="col-12">
      <h5>Data එකමුතු ගිවිසුම</h5>
      <ol class="text-si list-group list-group-flush">
        <li class="list-group-item small">ශ්&zwj;රී ලංකාව පිළබඳ අධ්&zwj;යනය කරීමේදී ක්ෂුද්&zwj;ර මට්ටමේ දත්ත එකතු කරීමේදී ඇතිවන ගැටළු හා බෙදා ගැනීමේදී ඇතිවන ගැටළු අවම කිරීම data එකමුතු වල අරමුණ වේ. වර්තමාන සහ අනාගත ශ්&zwj;රී ලාංකික දත්ත පර්යේෂකයන් වෙනුවෙන් දත්ත මත පදනම් ව තීරණ ගැනීමට එකිනෙක අතර සහයෝගය මෙයින් අපේක්ෂා කරයි.මේ සඳහා දායක වන හා සේවාව ලබාගන්නා සෑම දෙනා මේ අරමුණට එකග විය යුතුය.</li>
        <li class="list-group-item small">ශ්&zwj;රී ලංකාවට අදාළ ප්&zwj;රසිද්ධියට පත් කර ඇති වෙන් වෙන්ව ඇති දත්ත ඒවායේ මුලාශ්&zwj;රය සමග එක්තැන් කර හොවමරු කර ගැනීම පමණක් data එකමුතු හා මොන යම් අයුරකින්  සම්බන්ධ වන්නන් ක්&zwj;රියා කල යුතුය. වෙනත් අයෙකු එකතු කල දත්ත මුල්‍යමය අරමුණකට භාවිත කිරීම ගිවිසුමට පටහැනි සදාචාර විරෝධි ක්‍රියාවක් ලෙස සලකයි. </li>
        <li class="list-group-item small">දත්ත වල අයිතිය එම දත්ත වල නිර්මාපකයා සතුය.</li>
        <li class="list-group-item small">දත්ත පලකිරීමේදී විශ්වාස කල හැකි මුලාශ්&zwj;ර මගින් ප්&zwj;රසිද්ධ කල දත්ත බවද, දත්ත ලබා ගැනීමේදී අව්&zwj;යාජ අරමුණක් ඇති බවද සලකා බලයි.</li>
        <li class="list-group-item small">Data එකමුතු වලට අවශ්‍ය යටිතල පහසුකම් සහ වෙබ් අඩවිය කලමනාකරණය කරන්නේ පරිත්‍යාග කල ධනයෙනි. ධනය හෝ කලමනාකරණය නොමැතිව යටිතල පහසුකම් හො වෙබ් අඩවිය කලමනාකරණය බිදවටුනහොත් කිසිඳු පාර්ශවයකට දත්ත ලබාගත නොහැකිවීම ගැන Data එකමුතු වගවීමක් නොවේ.</li>
      </ol>
    </div>
    <div class="col-12" style="margin-top: 20px;">
      <h5>ஒப்பந்தம்</h5>
      <ol class="text-si list-group list-group-flush">
        <li class="list-group-item small">இலங்கையைப் பற்றி ஆய்வு செய்யும் போது, கள மட்டத்தில் தரவுகள் சேகரிக்கப்படும் போது ஏற்படும் சிக்கல்கள் மற்றும் தரவுகளை பகிரும் போதும் ஏற்படும் சிக்கல்கள் போன்றவற்றை குறைப்பதுமே “data எக்கமுத்து” வின் நோக்கங்களாகும். தற்போதைய மற்றும் எதிர்கால இலங்கைத் தரவு ஆராய்ச்சியாளர்களுக்கு தரவுகளை அடிப்படையாகக் கொண்டு  தீர்மானம் எடுப்பதற்கு ஒருவருக்கொருவர் இடையேயான ஆதரவு இதன் மூலம் எதிர்பார்க்கப்படுகிறது. இதற்காக பங்களிப்பு வழங்கும் மற்றும் சேவையை பெறும் அனைவரும் இந்நோக்கத்திற்கு உடன்பட வேண்டும்.</li>
        <li class="list-group-item small">இலங்கைக்கென்று வெளிப்படுத்தப்பட்டுள்ள வெவ்வேறாகவுள்ள தரவுகளை அவற்றின் மூலத்துடன் ஓரிடத்தில் சேகரித்து பரிமாரிக் கொள்வதற்காக மட்டுமே  “data எக்கமுத்து” விற்கு ஏதேனும் வகையில் சம்பந்தப்படுபவர்கள் செயற்பட வேண்டும்.  தரவுகள் பண நோக்கங்களுக்காக பயன்படுத்துவது ஒப்பந்தத்திற்கு முரணான ஒழுக்கத்திற்கு மாறான செயற்பாடாகக் கருதப்படும்.</li>
        <li class="list-group-item small">தரவின் உரிமைகள் அந்த தரவை உருவாக்கியவருக்கே சொந்தமானதாகும்.</li>
        <li class="list-group-item small">தரவை வெளியிடுவதில், தரவு நம்பகமான மூலங்களால் வெளியிடப்படும் தரவு என்பதுடன் தரவைப் பெறுவதில் உண்மையான நோக்கம் உள்ளமை பற்றியும் கவனத்திற் கொள்ளப்படும்.</li>
      </ol>
    </div>
  </div>
  