.dialog-container {
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; 
  color: basic; 
}

@media (max-width <=1200px) {
  .dialog-container {
    width: 60%;
   padding: 10px;
   justify-content: center;
  }
}

.custom-dialog-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.dialog-content img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

