<link rel="stylsheet" href="./register-dialog.component.scss" />

<div class="dialog-container">
    <div class="dialog-header">
        <h1 mat-dialog-title>Gavesha Kite Festival</h1>

        <div class="dialog-content" mat-dialog-content>
            <img
                src="../../../../assets/images/kite-competition/square_kite.jpeg" />
        </div>

        <div class="custom-dialog-actions" mat-dialog-actions>
            <button
                mat-raised-button
                mat-dialog-default-focus
                color="primary"
                mat-dialog-default-focus
                (click)="registerNow()">
                Register Now
            </button>

            <button mat-button mat-dialog-close>I will join later</button>
        </div>
    </div>
</div>
