<div class="kite-container-home-2 p0">
  <div class="row">

    <!-- Mobile Banner and Leaderboard, shown only if on /kite/player/all -->
    <ng-container *ngIf="!isPlayerView && isMobile">
      <div class="col-12 d-block d-md-none mobile-header">
        <ngx-header></ngx-header>
      </div>
      <div class="col-12 col-md-5 col-lg-3 leader-board-container">
        <ngx-kite-leaderboard></ngx-kite-leaderboard>
      </div>
      <div class="col-12 d-block d-md-none mobile-cards">
        <router-outlet></router-outlet>
      </div>
    </ng-container>

    <!-- Player view for mobile -->
    <ng-container *ngIf="isPlayerView && isMobile">
      <div class="col-12 mobile-player-view">
        <div class="header-section">
          <div class="left-section">
            <mat-icon (click)="goBack()">arrow_back</mat-icon>
          </div>
          <div class="right-section">
            <ngx-kite-search [playerList]="combinedPlayers"></ngx-kite-search>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </ng-container>

    <!-- Desktop View -->
    <ng-container *ngIf="!isMobile">
      <div class="col-12 col-md-5 col-lg-3 leader-board-container">
        <ngx-kite-leaderboard></ngx-kite-leaderboard>
      </div>
      <div class="column col-lg-9 col-md-7 d-none d-md-block kite-dashboard-container">
        <div class="headerbar">
          <ngx-header></ngx-header>
        </div>
        <div class="lower-half-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-container>

  </div>
</div>
