 @import '../../../@theme/styles/overlay';

.kite-container-home-2 {
  height: 100vh;
  margin: -35px -20px -20px;
  padding-left: -10px;
  padding-right: -10px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    overflow-y: scroll;

    // Hides scrollbar for WebKit-based browsers
    &::-webkit-scrollbar {
      display: none;
    }

    // Hides scrollbar for IE, Edge
    -ms-overflow-style: none;

    // Hides scrollbar for Firefox
    scrollbar-width: none;
  }

  .mobile-router-outlet{
    margin-top: 20px;
  }
  
  .leader-board-container {
    // background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

    // overflow-x: hidden;
    overflow-y: scroll;

    // Hides scrollbar for WebKit-based browsers
    &::-webkit-scrollbar {
      display: none;
    }

    // Hides scrollbar for IE, Edge
    -ms-overflow-style: none;

    // Hides scrollbar for Firefox
    scrollbar-width: none;

    // @include media-breakpoint-down(md) {
    //   height: 137vh;
    // }

  }

  

  .kite-dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .upper-half {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  .headerbar {
    height: auto;
    margin: 5px 0;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }

  /* stylelint-disable*/
  @media (max-width: 768px) {
    .mobile-header {
      display: flex;
      width: 100%;
      margin: 30px 0 10px;
      height: auto;
      overflow: hidden;
    }

    .mobile-banner {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      height: auto;
      overflow: hidden;
      justify-content: center;
    }

    .mobile-banner .upper-half-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .leader-board-container {

      // background-color: white;
      display: flex;
      flex-direction: column;
    }
  }

  /* stylelint-enable */

.info-container{
  height: 100%;
  display: flex;
  padding: 0;
  margin-top:-10px ;
}

.header-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

  .left-section {
    display: flex;
    align-items: center;

  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .playerdata{
    margin-top: 30px;
  }

  .desktop-playercard{
    margin-bottom: -30px;
  }
}