<nb-card>
  <nb-card-body>
    <div class=" grid-box">
      <div class="column">

        <div class="data-info">
          <div class="best-img-circle">
            <img src="https://th.bing.com/th/id/OIP.2KzBS2Bfpc7gVSPqPRCfGQHaJo?w=480&h=624&rs=1&pid=ImgDetMain">
          </div>
        </div>
        <div class="best-player-details-div">
          <p class="best-player-name-span">Name</p>
          <p class="best-player-nickname-span">City</p>
        </div>
      </div>

      <div class="column">
        <div class="icon2">
          <i class="fas fa-info-circle"
             matTooltip="ලබා ගත් ස්ථානය"
             (click)="showTooltip($event)">
          </i>
        </div>
        <div class="text-content">
          <h6 class="name1">RANK</h6>
          <p class="value1"># 20</p>
        </div>
      </div>

      <div class="column">
        <div class="icon2">
          <i class="fas fa-info-circle"
             matTooltip="සරුංගලය ගියපු වැඩිම උස"
             (click)="showTooltip($event)">
          </i>
        </div>
        <div class="text-content">
          <h6 class="name">BEST HEIGHT</h6>
          <p class="value">100 </p>
          <p class="value2">m</p>
        </div>
      </div>

      <div class="column">
        <div class="icon2">
          <i class="fas fa-info-circle"
             matTooltip="සෙල්ලම් කරපු වේලාව"
             (click)="showTooltip($event)">
          </i>
        </div>
        <div class="text-content">
          <h6 class="name">TOTAL FLYING TIME</h6>
          <p class="value">300</p>
          <p class="value2">mins</p>
        </div>
      </div>

      <div class="column">
        <div class="icon2">
          <i class="fas fa-info-circle"
             matTooltip="සරුංගලය යැවූ වාර ගණන"
             (click)="showTooltip($event)">
          </i>
        </div>
        <div class="text-content">
          <h6 class="name">TOTAL ATTEMPTS</h6>
          <p class="value">10</p>
        </div>
      </div>

    </div>
  </nb-card-body>
</nb-card>